.people__quote{
max-width: 20%;
margin: 0 auto;
}
@media screen and (max-width:768px){
  .people__quote{
    max-width: 47%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width:450px){
  .people__quote{
    max-width: 100%;
    margin-bottom: 50px;

  }
}
