.people__quote-text{
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
}
@media screen and (max-width:768px){
  .people__quote-text{
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width:450px){
  .people__quote-text{
    text-align: center;
  }
}
