.header__link{
  color: #000;
  text-decoration: none;
  font-size: 15px;
  line-height: 12px;
  font-weight: bolder;
  list-style-type: none;
  margin-right: 25px;
  transition: opacity .4s linear;
}
.header__link:nth-of-type(4n){
  margin-left: 639px;
}
.header__link:hover{
  opacity: .5;
}
