.footer__copyright{
  font-size: 30px;
  line-height: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  padding-top: 245px;
}

@media screen and (max-width:768px){
  .footer__copyright{
    padding-top: 190px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width:400px){
  .footer__copyright{
    padding-top: 115px;
  }
}
