.comments__subtitle{
  margin: 0;
  font-size: 40px;
  font-weight: bolder;
  line-height: 52px;
  max-width: 583px;
  margin-bottom: 80px;
}
@media screen and (max-width:768px){
  .comments__subtitle{
    font-size: 30px;
    line-height: 42px;
  }
}
@media screen and (max-width:320px){
  .comments__subtitle{
    margin-left: 24px;
    margin-bottom: 40px;
  }
}
