@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./Inter-3.19/Inter Web/Inter-Regular.woff2?v=3.19") format("woff2"),
         url("./Inter-3.19/Inter Web/Inter-Regular.woff?v=3.19") format("woff");
  }
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./Inter-3.19/Inter Web/Inter-Bold.woff2?v=3.19") format("woff2"),
         url("./Inter-3.19/Inter Web/Inter-Bold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./Inter-3.19/Inter Web/Inter-Black.woff2?v=3.19") format("woff2"),
         url("./Inter-3.19/Inter Web/Inter-Black.woff?v=3.19") format("woff");
  }



